$orange:rgb(215 123 65);
$blue:rgb(0 62 84);
$formtext:rgb(128 151 160);
$formbackgroun: rgb(243 244 246);
$navbackground: #2c3e50;
$white:#ffffff;
// fonts
$font-heading:36px;
$anav-fonts:18px;
$atwo-fontsize:22px;
$aoriginal:31px;
$fontheading1:73px;
$fontheading2:38px;
$fontNow:50px;
$fonthit:16px;
// 
$font-family: "BalooBhaijaan-Regular";


// base-width
$line:70px;
$linelong:330px;
$buttonwidth:325px;
$buttonfivefoutfivr:545px;
$forms:548px;




// max-width:576px......................
// base
$base-a:17px;
$base-a-twenty:20px;
$base-p-:10px;
$base-a-:10px;
$base-a-thirtyone:31px;
$base-htwo:18px;
$base-now:22px;
$base-hone:25px;

// width
$line-width:24px;
$line-widthlong:318px;
$card-width:335px;
$button-width:155px;
$button-width-:155px;
$button-contact:334px;
$form-control:336px;



// media(min-width:576px) and (max-width:768px)

$twobase-a:17px;
$twobase-atwenty:20px;
$twobase-a-:16px;
$twobase-p:12px;
$twobase-htwo:25px;
$twobase-hone:40px;
$twobase-now:33px;
$twobase-hfive:15px;
$twobase-asub:12px;


// width
$twoline:34px;
$twoglass:355px;
$twopar: 222px; 
$twolinetwotwozero:220px;
$two-card:227px;
$two-button:207;
$two-forms:719px;
$two-button:719px;
$two-pan:370px;



// media(min-width:769px) and (max-width:920px)
